
.navbar-default {
	background-image: linear-gradient(to bottom, rgba(221,72,20,1), rgba(191,42,0,1) );
	//background-image: linear-gradient(to bottom, rgba(13,159,136,1), rgba(0,149,70,1) );
	border:0;
	
}

ul .dropdown-menu a {
	transition: padding-left 1s;
	width:100%;
	height:100%;
}

ul .dropdown-menu a:hover{
	padding-left:20%;
}

.content-container {
	display:none;
}

.panel {
	border:none;
}

#carousel{
	//box-shadow: inset 0 0 5px 3px rgba(211,187,165,0.7);
	background-image:url(../img/wll2.jpg);
	padding:15px;
	border-radius: 3px 3px 3px 3px;
	margin-bottom:1%;
}

body {
//background-color: rgba(211,187,165,0.7);
background-color: rgba(201,177,133,0.6);

}

.jumbotron{
	background-color:rgba(0,0,0,0.0);
	//background-image: linear-gradient(to bottom, #FFF, #F2F2F2);
	//background-color:rgba(0,0,0,0);
	//background-image:url(../img/office_blur.jpg);
	background-size:100%;
	color:white;
	border-radius: 3px 3px 3px 3px;

}

.jumbotron h1, .jumbotron p {
	text-shadow: 2px 2px rgba(0,0,0,0.4);
	color:white;
}

.jumbotron .btn{
	text-shadow:0 0;
}


#recent .panel-body {
	max-height:400px;
		overflow: hidden;

}

#recent  p {
	text-overflow:ellipsis;
	overflow: hidden;
	white-space:normal;

}
#recent .panel:hover{
//border-bottom:  1px solid #df691a;


}


#recent{
	//background-color:rgba(0,0,0,0);
	//background-image: linear-gradient(to bottom, #FFF, #F2F2F2);
	//box-shadow: inset 0 0 1px 1px rgba(211,187,165,0.7);
	border-radius: 2px 2px 2px 2px;
	padding:5px;
	//box-shadow: 0 0 5px 0px #df691a;
	//border-top: 2px solid #df691a;
}

#recent .panel{
display:none;
background-image: linear-gradient(to bottom, #FFF, #F2F2F2);
background-color:rgba(0,0,0,0);
//border-right: 2px solid rgba(255,255,255,0.1);
//border-radius: 2px 2px 2px 2px;
//box-shadow: 0 0 5px 2px rgba(211,187,165,0.7);
//border-bottom:1px solid #df691a;

}

#recent .panel{


}

#recent .panel-footer {
	background-color:rgba(0,0,0,0);
//border-right: 2px solid white;
border:0;


}


.panel-footer li{ 

list-style-type: none;
display:inline;
overflow:hidden;

}

.panel img {
width:auto;
height:60px;
margin-bottom:15px;
//padding:15px;
	//max-height: 100px;
	
}


.panel-footer ul {
height:100%;
display:inline-block;
overflow:hidden;
margin:0 auto;
width:100%;
	
}

#koodieditointi .row{
margin:0 auto;
border-radius: 2px 2px 2px 2px;
}

#right-side .panel-body{
	background-image: linear-gradient(to bottom, #FFF, #F2F2F2);
	//box-shadow: inset 0 0 5px 2px rgba(211,187,165,0.7);
	//background-color:rgba(211,187,165,0.4);
	border-radius: 0 0 3px 3px;

}

#right-side .panel-heading{
	background-image: linear-gradient(to bottom, rgba(221,72,20,1), rgba(191,42,0,1) );
}

.supported-os {
float:right;
margin-top:10px;

}

#koodieditointi .panel-footer a {
	padding-right:5px;
}


#editori-kategoriat li{
	display: inline-block;
	overflow: hidden;
	list-style-type: none;

}

.complete {
	display:none;
}

.less {
	display:none;
	font-size:80%;
}

.more {
	font-size:80%;
}

#koodieditointi .panel {
	display:none;
}

.li-head {
	color:rgba(255,255,255,0.5);
	//background-color: #df691a;
	text-align:left;
	padding:2%;
	font-size:80%;
}

 #koodieditointi .panel-footer ul li a, #linux .panel-footer ul li a, #windows .panel-footer ul li a{
padding-right:15px;
color:#df791a;
background-color:rgba(0,0,0,0.0);
}

 #koodieditointi .panel-footer ul li a:hover, #linux .panel-footer ul li a:hover, #windows .panel-footer ul li a:hover{
//font-size:105%;
//border-bottom: 1px solid #df691a;
border-radius: 0;
}


#koodieditointi .panel-footer .nav .active, #linux .panel-footer .nav .active, #windows .panel-footer .nav .active{
	//border-bottom: 1px solid #df691a;
	//font-size:125%;
	border-bottom: 1px solid #df691a;
}


blockquote {
	//border-left:5px solid #2B3E50;
}

#koodieditointi .panel-body a,#linux .panel-body a, #windows .panel-body a{
text-decoration:none;
color:  #df791a;
}

#koodieditointi .panel-body table, #linux .panel-body table, #windows .panel-body table  {
//border-left:2px solid #2B3E50;
//box-shadow: inset 0 1px 4px 1px #2B3E50;
//border-bottom:1px solid #df691a;
}

#koodieditointi .panel-body tr, #linux .panel-body tr, #windows .panel-body tr {
//border-bottom:2px solid #df691a;
//border-bottom:1px solid #df691a;

//box-shadow: inset 0 1px 4px 1px #2B3E50;
}

.disabled {
	display:none;
}


img {
	//box-shadow:inset 5px 1px 1px black;
	//border-bottom:2px solid rgba(0,0,0,0.05);
	//background-color:rgba(0,0,0,0.03);
	//border-radius: 3px 3px 3px 3px;
	//background-image: linear-gradient(to bottom, #FFF, #F2F2F2);
}






.nav li{
	padding:1px;
}



/** Guide **/



#koodieditointi2 .list-group-item-heading{
	font-size:80%;

}

#koodieditointi2 .panel {
float:right;
margin-right:0%;
max-width: 1500px;
width:95%;
margin-top:5px;

}
.guide-toc {
	margin-left:5px;
}

.guide-toc h4{
text-overflow:ellipsis;
white-space:nowrap;
overflow:hidden;


}


#koodieditointi2 .list-group-item {
	border:0;
	border-radius: 0 0 3px 3px;
}

#koodieditointi2 .list-group-item a{
	//background-color:rgba(78,93,108,0.8);
//background-color:#dd4814;
//color:rgba(63,82,100,1);
font-size:100%;


}

#koodieditointi2 .affix {
	width:15.5%;
}
/*
 @media screen and (max-width: 992px) {
#guide .list-group {
z-index: 1;


}
 }*/

#koodieditointi2 .guide-toc button{
margin-top:2px;
width:100%;
text-align: left;
padding:5px 5px 5px 0;
font-size: 100%;
//background-color:rgba(78,93,108,1);
}

#koodieditointi2 .panel-heading {
	font-size:200%;
}

#koodieditointi2 .kategoria {
	//border-bottom: 3px solid rgba(108,123,138,0.5);
	//margin-bottom: 2%;
	//box-shadow: 7px 0px 3px -5px #dd4814 ;
	padding:5px;
	//background-color: rgba(108,123,138,0.2);
	//border-bottom: 2px solid #dd4814;

}

li.active,
li.active:hover,
li.active:focus  {
    //background-color: #dd4814;


font-size:140%;
}
li.active a,
li.active:hover a,
li:focus a  {
    //color: #FFF;
    //background-color: #dd4814;
   // background-image:none;
      //border-bottom:1px solid rgba(108,123,138,0.5);
      //box-shadow:inset 1px 1px 13px #dd4814;
       //border-bottom:1px solid rgba(108,123,138,0.5);

}


a.list-group-item.active:focus{
	//background-color:red;
}
.toc{
	//background-color: rgba(223,105,26,1);
	//background-color: rgba(221,72,20,1);
	background-image: linear-gradient(to bottom, rgba(221,72,20,1), rgba(191,42,0,1) );
	padding:1px;
	margin-top:10px;
	border-radius: 3px 3px 0 0;

}

.toc h4{
	padding:5px;
	color:white;
	margin-left:1%;
}

#koodieditointi2 .panel-heading{
	background-image: linear-gradient(to bottom, rgba(221,72,20,1), rgba(191,42,0,1) );
}

#koodieditointi2 li a{
		transition: padding-left 1s;
}

#koodieditointi2 li a:hover{
		padding-left:10%;
}








