@charset "CP850";
/* line 5, ../compass/sass/aaltosulku.scss */
footer {
  border-top: 1px solid rgba(255, 169, 131, 0.4);
}

/* line 9, ../compass/sass/aaltosulku.scss */
nav {
  text-align: center;
}

/* line 13, ../compass/sass/aaltosulku.scss */
nav ul li {
  display: inline-block;
  text-align: center;
  float: left;
  padding: 2px 5px;
  margin: auto;
}

/* line 21, ../compass/sass/aaltosulku.scss */
nav ul {
  margin: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
  zoom: 1;
  *display: inline;
}

/* line 32, ../compass/sass/aaltosulku.scss */
#ohjeet .ruutu-10-tablet {
  border-left: 1px solid rgba(255, 169, 131, 0.4);
}

/* line 43, ../compass/sass/aaltosulku.scss */
.toc-ul li {
  list-style: none;
  transition: padding-left 0.5s;
}

/* line 49, ../compass/sass/aaltosulku.scss */
.affix {
  position: fixed;
  top: 5%;
}

/** .active luokka annetaan scrollspy-javascript pluginin ansiosta sis.luetteloitemille sen mukaan, mikä luetteloitemiin
liitoksissa oleva divi on käyttäjän ikkunassa näkyvillä **/
/* line 56, ../compass/sass/aaltosulku.scss */
.active {
  padding-left: 5%;
  border-radius: 3px 3px 3px 3px;
  background-color: rgba(255, 99, 71, 0.8);
  box-shadow: inset 3px 3px 3px rgba(255, 169, 131, 0.4);
}

/* line 66, ../compass/sass/aaltosulku.scss */
.active a {
  /*color:rgba(120,200,200,1); */
  color: white;
}

/* .active:after tai :before:n avulla voi laittaa merkkejä tai ihan mitä vain korostaakseen aktiiviseksi tulleen sis.luetteloitemiä 
Isokokoisille listaitemeille se aiheuttaa ikävän rivivaihdon */
/* line 73, ../compass/sass/aaltosulku.scss */
.active:before {
  content: "";
}

/** nämä margin-leftit ovat vain tuodakseen sisennysilmettä aliotsikoidihn - voi poistella jos halajaa **/
/** cat-subin ja cat-main-title padding-bottomit ovat vain scrollspyn testaamiseen - voi poistella jos halajaa**/
/* line 79, ../compass/sass/aaltosulku.scss */
.cat-sub-toc {
  margin-left: 5.5%;
}

/* line 82, ../compass/sass/aaltosulku.scss */
.cat-sub {
  margin-left: 1.5%;
  padding-bottom: 5%;
  width: 85%;
}

/* line 88, ../compass/sass/aaltosulku.scss */
.cat-main-title {
  padding-bottom: 5%;
}

/* line 93, ../compass/sass/aaltosulku.scss */
.sub-title-mark {
  margin-right: 1px;
  font-weight: bold;
  color: tomato;
  float: left;
}

/* line 104, ../compass/sass/aaltosulku.scss */
.sub-content {
  display: none;
  float: left;
  height: 100%;
  width: 100%;
  margin-left: 1.5%;
  background-color: rgba(255, 99, 71, 0.8);
  box-shadow: inset 2px 2px 2px rgba(205, 49, 21, 0.2);
  border-radius: 3px 3px 3px 3px;
  padding: 5px;
  margin-bottom: 1.5%;
  color: white;
}
/* line 118, ../compass/sass/aaltosulku.scss */
.sub-content a {
  color: white;
  font-weight: bold;
}
/* line 124, ../compass/sass/aaltosulku.scss */
.sub-content a:hover {
  border-bottom: 1px solid white;
}

/* line 130, ../compass/sass/aaltosulku.scss */
.sub-title {
  margin-left: 1%;
  cursor: pointer;
  color: #444444;
  float: left;
  width: 100%;
}

/* line 140, ../compass/sass/aaltosulku.scss */
::selection {
  background: rgba(255, 99, 71, 0.8);
  /* Safari */
  color: white;
}

/* line 144, ../compass/sass/aaltosulku.scss */
::-moz-selection {
  background: rgba(255, 99, 71, 0.8);
  /* Firefox */
  color: white;
}

/*Custom modaali-ikkunan asetukset */
/* line 158, ../compass/sass/aaltosulku.scss */
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  overflow: scroll;
  color: #444444;
}

/* line 176, ../compass/sass/aaltosulku.scss */
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

/* line 181, ../compass/sass/aaltosulku.scss */
.modalDialog > div {
  width: 90%;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
}

/* line 191, ../compass/sass/aaltosulku.scss */
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

/* line 210, ../compass/sass/aaltosulku.scss */
.close:hover {
  background: #00d9ff;
}
