@charset "CP850";
/* line 3, ../compass/sass/aaltosulku.scss */
nav {
  text-align: center;
}

/* line 7, ../compass/sass/aaltosulku.scss */
nav ul li {
  display: inline-block;
  text-align: center;
  float: left;
  padding: 2px 5px;
  margin: auto;
}

/* line 15, ../compass/sass/aaltosulku.scss */
nav ul {
  margin: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
  zoom: 1;
  *display: inline;
}

/* line 26, ../compass/sass/aaltosulku.scss */
.toc-ul li {
  list-style: none;
  transition: padding-left 0.5s;
}

/* line 32, ../compass/sass/aaltosulku.scss */
.affix {
  position: fixed;
  top: 5%;
}

/** .active luokka annetaan scrollspy-javascript pluginin ansiosta sis.luetteloitemille sen mukaan, mikä luetteloitemiin
liitoksissa oleva divi on käyttäjän ikkunassa näkyvillä **/
/* line 39, ../compass/sass/aaltosulku.scss */
.active {
  font-size: 125%;
  padding-left: 5%;
  border-left: 3px solid tomato;
  /*border-radius: 5px 5px 5px 5px;*/
  background-color: rgba(255, 99, 71, 0.8);
}

/* line 48, ../compass/sass/aaltosulku.scss */
.active a {
  /*color:rgba(120,200,200,1); */
  color: white;
}

/* .active:after tai :before:n avulla voi laittaa merkkejä tai ihan mitä vain korostaakseen aktiiviseksi tulleen sis.luetteloitemiä 
Isokokoisille listaitemeille se aiheuttaa ikävän rivivaihdon */
/* line 55, ../compass/sass/aaltosulku.scss */
.active:before {
  content: "";
}

/** nämä margin-leftit ovat vain tuodakseen sisennysilmettä aliotsikoidihn - voi poistella jos halajaa **/
/** cat-subin ja cat-main-title padding-bottomit ovat vain scrollspyn testaamiseen - voi poistella jos halajaa**/
/* line 61, ../compass/sass/aaltosulku.scss */
.cat-sub-toc {
  margin-left: 5.5%;
}

/* line 64, ../compass/sass/aaltosulku.scss */
.cat-sub {
  margin-left: 1.5%;
  padding-bottom: 5%;
}

/* line 69, ../compass/sass/aaltosulku.scss */
.cat-main-title {
  padding-bottom: 5%;
}

/* line 74, ../compass/sass/aaltosulku.scss */
.sub-title-mark, .sub-title-open {
  margin-right: 1px;
  font-weight: bold;
  color: tomato;
  float: left;
}

/* line 86, ../compass/sass/aaltosulku.scss */
.sub-content {
  display: none;
  float: left;
}

/* line 91, ../compass/sass/aaltosulku.scss */
.sub-title {
  cursor: pointer;
  color: #444444;
  float: left;
  width: 100%;
}
