@charset "CP850";
/* line 5, ../compass/sass/aaltosulku.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

/* line 10, ../compass/sass/aaltosulku.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 14, ../compass/sass/aaltosulku.scss */
header {
  border-bottom: 15px solid rgba(255, 99, 71, 0.9);
}

/* line 20, ../compass/sass/aaltosulku.scss */
.sub-title-mark:before {
  content: "▸";
  font-weight: bolder;
}

/* line 29, ../compass/sass/aaltosulku.scss */
nav {
  text-align: center;
}

/* line 34, ../compass/sass/aaltosulku.scss */
nav ul li {
  display: inline-block;
  text-align: center;
  float: left;
  padding: 2px 5px;
  margin: auto;
}

/* line 42, ../compass/sass/aaltosulku.scss */
nav ul {
  margin: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
  zoom: 1;
  *display: inline;
  float: right;
}

/* line 65, ../compass/sass/aaltosulku.scss */
.toc-ul li {
  list-style: none;
  transition: padding-left 0.5s;
  font-size: 90%;
}

/* line 79, ../compass/sass/aaltosulku.scss */
.list-group-item-heading a {
  font-weight: bold;
  font-size: 115%;
}

/* line 87, ../compass/sass/aaltosulku.scss */
.content-container div:target {
  animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  animation-name: in-out;
  -moz-animation-name: in-out;
  -webkit-animation-name: in-out;
}

@-moz-keyframes in-out {
  /* line 98, ../compass/sass/aaltosulku.scss */
  from {
    color: tomato;
  }
}
@-webkit-keyframes in-out {
  /* line 107, ../compass/sass/aaltosulku.scss */
  from {
    color: tomato;
  }
}
@keyframes in-out {
  /* line 116, ../compass/sass/aaltosulku.scss */
  from {
    color: tomato;
  }
}
/* line 131, ../compass/sass/aaltosulku.scss */
.affix {
  position: fixed;
  top: 5%;
}

/** .active luokka annetaan scrollspy-javascript pluginin ansiosta sis.luetteloitemille sen mukaan, mikä luetteloitemiin
liitoksissa oleva divi on käyttäjän ikkunassa näkyvillä **/
/* line 138, ../compass/sass/aaltosulku.scss */
.active {
  padding-left: 5%;
  background-color: rgba(255, 99, 71, 0.1);
  border-right: 5px solid rgba(255, 99, 71, 0.9);
}

/* .active:after tai :before:n avulla voi laittaa merkkejä tai ihan mitä vain korostaakseen aktiiviseksi tulleen sis.luetteloitemiä 
Isokokoisille listaitemeille se aiheuttaa ikävän rivivaihdon */
/* line 161, ../compass/sass/aaltosulku.scss */
.active:after {
  content: "";
}

/** nämä margin-leftit ovat vain tuodakseen sisennysilmettä aliotsikoidihn - voi poistella jos halajaa **/
/** cat-subin ja cat-main-title padding-bottomit ovat vain scrollspyn testaamiseen - voi poistella jos halajaa**/
/* line 169, ../compass/sass/aaltosulku.scss */
.cat-sub-toc {
  margin-left: 5.5%;
}

/* line 172, ../compass/sass/aaltosulku.scss */
.cat-sub {
  margin-left: 1.5%;
  margin-bottom: 5%;
  width: 85%;
}

/* line 178, ../compass/sass/aaltosulku.scss */
.cat-main-title {
  margin-bottom: 5%;
  font-size: 155%;
}

/* line 183, ../compass/sass/aaltosulku.scss */
.sub-title {
  margin-bottom: 1%;
  cursor: pointer;
}

/* line 188, ../compass/sass/aaltosulku.scss */
.sub-title-mark {
  margin-right: 1px;
  color: tomato;
  float: left;
}

/* line 196, ../compass/sass/aaltosulku.scss */
.cat-title-mark:before {
  content: "";
  float: left;
}

/* line 200, ../compass/sass/aaltosulku.scss */
.cat-title-mark:after {
  content: "";
  float: right;
}

/* Tämä on se efekti, joka tulee maalatessa hiirellä sivulla */
/* line 210, ../compass/sass/aaltosulku.scss */
::selection {
  background: rgba(255, 99, 71, 0.8);
  /* Safari */
  color: white;
}

/* line 214, ../compass/sass/aaltosulku.scss */
::-moz-selection {
  background: rgba(255, 99, 71, 0.8);
  /* Firefox */
  color: white;
}

/*Custom modaali-ikkunan asetukset */
/* line 228, ../compass/sass/aaltosulku.scss */
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  overflow: scroll;
  color: #444444;
}

/* line 246, ../compass/sass/aaltosulku.scss */
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

/* line 251, ../compass/sass/aaltosulku.scss */
.modalDialog > div {
  width: 90%;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
}

/* line 261, ../compass/sass/aaltosulku.scss */
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

/* line 280, ../compass/sass/aaltosulku.scss */
.close:hover {
  background: #00d9ff;
}
