@charset "UTF-8";
/*
$lindeman-text-color: #444;
$main: rgba(28,20,13,1);
$bg: rgba(183,212,87,1);
$text: grey;
$link: rgba(183,212,87,1);
$right: 5px solid rgba(28,20,13,1);
*/
/* line 20, ../compass/sass/aaltosulku.scss */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  border-top: 15px solid tomato;
}

/* Tämä on se efekti, joka tulee maalatessa hiirellä sivulla */
/* line 29, ../compass/sass/aaltosulku.scss */
::selection {
  background: tomato;
  /* Safari */
  color: white;
}

/* line 34, ../compass/sass/aaltosulku.scss */
::-moz-selection {
  background: tomato;
  /* Firefox */
  color: white;
}

/* line 40, ../compass/sass/aaltosulku.scss */
nav {
  text-align: center;
}

/* line 45, ../compass/sass/aaltosulku.scss */
nav ul li {
  display: inline-block;
  text-align: center;
  float: left;
  padding: 2px 5px;
  margin: auto;
}

/* line 53, ../compass/sass/aaltosulku.scss */
nav ul {
  margin: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
  zoom: 1;
  *display: inline;
  float: right;
}

/* line 63, ../compass/sass/aaltosulku.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

/* line 69, ../compass/sass/aaltosulku.scss */
.p-footer {
  text-align: left;
  font-size: 70%;
}

/* line 74, ../compass/sass/aaltosulku.scss */
a {
  color: tomato;
}

/* line 79, ../compass/sass/aaltosulku.scss */
footer {
  background-color: rgba(0, 0, 0, 0.05);
}

/* line 83, ../compass/sass/aaltosulku.scss */
header {
  height: 100px;
}
