@charset "UTF-8";
/* line 10, ../compass/sass/aaltosulku.scss */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f4e1;
}

/* Tämä on se efekti, joka tulee maalatessa hiirellä sivulla */
/* line 17, ../compass/sass/aaltosulku.scss */
::selection {
  background: #b7d457;
  /* Safari */
  color: #b7d457;
}

/* line 22, ../compass/sass/aaltosulku.scss */
::-moz-selection {
  background: #b7d457;
  /* Firefox */
  color: white;
}

/* line 28, ../compass/sass/aaltosulku.scss */
nav {
  text-align: center;
}

/* line 33, ../compass/sass/aaltosulku.scss */
nav ul li {
  display: inline-block;
  text-align: center;
  float: left;
  padding: 2px 5px;
  margin: auto;
}

/* line 41, ../compass/sass/aaltosulku.scss */
nav ul {
  margin: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
  zoom: 1;
  *display: inline;
  float: right;
}

/* line 51, ../compass/sass/aaltosulku.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

/* line 57, ../compass/sass/aaltosulku.scss */
.p-footer {
  text-align: left;
  font-size: 70%;
}

/* line 62, ../compass/sass/aaltosulku.scss */
a {
  color: grey;
}

/* line 6, ../compass/sass/index.scss */
a {
  color: #b7d457;
}

/* line 11, ../compass/sass/index.scss */
.intro {
  background-color: #b7d457;
}

/* line 15, ../compass/sass/index.scss */
#header-line {
  width: 100%;
  margin: 0 auto;
  border-top: 15px solid #1c140d;
}
