/* line 1, ../compass/sass/ohjeet.scss */
header {
  background-color: tomato;
  color: white;
  border-bottom: 1px solid rgba(255, 99, 71, 0.5);
}

/* line 9, ../compass/sass/ohjeet.scss */
nav ul li a {
  color: White;
}

/* line 13, ../compass/sass/ohjeet.scss */
section {
  border: none;
  margin-bottom: 3%;
}
