@charset "UTF-8";
/*
$lindeman-text-color: #444;
$main: rgba(28,20,13,1);
$bg: rgba(183,212,87,1);
$text: grey;
$link: rgba(183,212,87,1);
$right: 5px solid rgba(28,20,13,1);
*/
/* line 19, ../compass/sass/aaltosulku.scss */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(255, 255, 214, 0.2);
}

/* Tämä on se efekti, joka tulee maalatessa hiirellä sivulla */
/* line 27, ../compass/sass/aaltosulku.scss */
::selection {
  background: tomato;
  /* Safari */
  color: tomato;
}

/* line 32, ../compass/sass/aaltosulku.scss */
::-moz-selection {
  background: tomato;
  /* Firefox */
  color: white;
}

/* line 38, ../compass/sass/aaltosulku.scss */
nav {
  text-align: center;
}

/* line 43, ../compass/sass/aaltosulku.scss */
nav ul li {
  display: inline-block;
  text-align: center;
  float: left;
  padding: 2px 5px;
  margin: auto;
}

/* line 51, ../compass/sass/aaltosulku.scss */
nav ul {
  margin: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
  zoom: 1;
  *display: inline;
  float: right;
}

/* line 61, ../compass/sass/aaltosulku.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

/* line 67, ../compass/sass/aaltosulku.scss */
.p-footer {
  text-align: left;
  font-size: 70%;
}

/* line 72, ../compass/sass/aaltosulku.scss */
a {
  color: tomato;
}

/* line 77, ../compass/sass/aaltosulku.scss */
footer {
  background-color: rgba(219, 224, 154, 0.2);
}

/* line 81, ../compass/sass/aaltosulku.scss */
header {
  height: 100px;
}

/* line 2, ../compass/sass/ohjeet.scss */
body {
  border-top: 5px solid rgba(0, 0, 0, 0);
  background-color: rgba(255, 255, 214, 0.2);
}

/* line 8, ../compass/sass/ohjeet.scss */
header {
  background-color: tomato;
  background: linear-gradient(45deg, #fffffb 25%, #fff9dd 25%, #fff9dd 50%, #fffffb 50%, #fffffb 75%, #fff9dd 75%);
  background-size: 10px 10px;
  color: #444444;
}

/* line 21, ../compass/sass/ohjeet.scss */
nav ul li a {
  color: tomato;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 31, ../compass/sass/ohjeet.scss */
section {
  border: none;
  margin-bottom: 5%;
}

/* line 36, ../compass/sass/ohjeet.scss */
.ruutu-12-tablet {
  padding-bottom: 0;
}

/* line 40, ../compass/sass/ohjeet.scss */
#header-line2 {
  width: 100%;
  margin: 0 auto;
  border-bottom: 15px solid tomato;
}

/* line 48, ../compass/sass/ohjeet.scss */
.footer-top {
  margin-top: 60%;
  width: 100%;
}

/* line 54, ../compass/sass/ohjeet.scss */
.affix {
  position: fixed;
  top: 5%;
}

/** .active luokka annetaan scrollspy-javascript pluginin ansiosta sis.luetteloitemille sen mukaan, mikä luetteloitemiin
liitoksissa oleva divi on käyttäjän ikkunassa näkyvillä **/
/* line 61, ../compass/sass/ohjeet.scss */
.active {
  padding-left: 5%;
  box-shadow: 2px 2px 2px tomato;
  background-color: tomato;
}
/* line 75, ../compass/sass/ohjeet.scss */
.active a {
  color: white;
}

/* .active:after tai :before:n avulla voi laittaa merkkejä tai ihan mitä vain korostaakseen aktiiviseksi tulleen sis.luetteloitemiä 
Isokokoisille listaitemeille se aiheuttaa ikävän rivivaihdon */
/* line 85, ../compass/sass/ohjeet.scss */
.active:after {
  content: "";
}

/** nämä margin-leftit ovat vain tuodakseen sisennysilmettä aliotsikoidihn - voi poistella jos halajaa **/
/** cat-subin ja cat-main-title padding-bottomit ovat vain scrollspyn testaamiseen - voi poistella jos halajaa**/
/* line 93, ../compass/sass/ohjeet.scss */
.cat-sub-toc {
  margin-left: 5.5%;
}

/* line 96, ../compass/sass/ohjeet.scss */
.cat-sub {
  margin-left: 1.5%;
  margin-bottom: 5%;
  width: 85%;
}

/* line 102, ../compass/sass/ohjeet.scss */
.cat-main-title {
  margin-bottom: 8%;
  font-size: 155%;
}

/* line 107, ../compass/sass/ohjeet.scss */
.sub-title {
  margin-bottom: 1%;
  cursor: pointer;
}

/* line 113, ../compass/sass/ohjeet.scss */
.sub-title-mark {
  margin-right: 1px;
  color: tomato;
  float: left;
}

/* line 121, ../compass/sass/ohjeet.scss */
.cat-title-mark:before {
  content: "";
  float: left;
}

/* line 125, ../compass/sass/ohjeet.scss */
.cat-title-mark:after {
  content: "";
  float: right;
}

/* line 132, ../compass/sass/ohjeet.scss */
.toc-ul li {
  list-style: none;
  transition: padding-left 0.5s;
  font-size: 90%;
}

/* line 141, ../compass/sass/ohjeet.scss */
.list-group-item {
  color: tomato;
}

/* line 145, ../compass/sass/ohjeet.scss */
.list-group-item-heading {
  color: tomato;
}
/* line 147, ../compass/sass/ohjeet.scss */
.list-group-item-heading a {
  font-weight: bold;
  font-size: 115%;
}

/* line 156, ../compass/sass/ohjeet.scss */
.content-container div:target {
  animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  animation-name: in-out;
  -moz-animation-name: in-out;
  -webkit-animation-name: in-out;
}

@-moz-keyframes in-out {
  /* line 167, ../compass/sass/ohjeet.scss */
  from {
    color: tomato;
  }
}

@-webkit-keyframes in-out {
  /* line 176, ../compass/sass/ohjeet.scss */
  from {
    color: tomato;
  }
}

@keyframes in-out {
  /* line 185, ../compass/sass/ohjeet.scss */
  from {
    color: tomato;
  }
}

/* line 194, ../compass/sass/ohjeet.scss */
.sub-title-mark:before {
  content: ">>";
  font-weight: bold;
}
