@import 'compass/css3';

nav {
	text-align: center;
}

nav ul li {
	display:inline-block;
	text-align: center;
	float:left;
	padding:2px 5px;
    margin: auto;
}

nav ul{
	margin:auto;
	display:inline-block;
	margin:0;
	padding:0;
	zoom:1;
	*display:inline;
}

.toc-ul li {
	list-style: none;
	transition: padding-left 0.5s;

}

.affix {
position:fixed;
top:5%;
}

/** .active luokka annetaan scrollspy-javascript pluginin ansiosta sis.luetteloitemille sen mukaan, mikä luetteloitemiin
liitoksissa oleva divi on käyttäjän ikkunassa näkyvillä **/
.active {
	font-size:125%;
	padding-left:5%;
	border-left:3px solid tomato;
	/*border-radius: 5px 5px 5px 5px;*/
	background-color: rgba(255,99,71,0.8);

	
}
.active a {
	/*color:rgba(120,200,200,1); */
	color:white;
}

/* .active:after tai :before:n avulla voi laittaa merkkejä tai ihan mitä vain korostaakseen aktiiviseksi tulleen sis.luetteloitemiä 
Isokokoisille listaitemeille se aiheuttaa ikävän rivivaihdon */
.active:before{
		content: ""; 
}

/** nämä margin-leftit ovat vain tuodakseen sisennysilmettä aliotsikoidihn - voi poistella jos halajaa **/
/** cat-subin ja cat-main-title padding-bottomit ovat vain scrollspyn testaamiseen - voi poistella jos halajaa**/
.cat-sub-toc {
	margin-left:5.5%;
}
.cat-sub {
	margin-left:1.5%;
	padding-bottom:5%;
}

.cat-main-title {
	padding-bottom:5%;
}
