header {
background-color: tomato;
color:white;
//background-color: rgba(255,99,71,0.1);
  border-bottom:1px solid rgba(255,99,71,0.5);
//box-shadow: inset  3px 3px 3px rgba(255,169,131,0.4);
}

nav ul li a{
  color:White;
}

section {
	//border-bottom:1px solid rgba(255,99,71,0.5);
	border:none;
	margin-bottom:3%;


}

